[Unit]
Description=Backlight monitor service
After=systemd-backlight@backlight:gpio-backlight.service
After=pigpiod.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/backlight_monitor.py 1023 0 --gpio=18 --monitored-gpio=20 --toggle-gpio=21

[Install]
WantedBy=multi-user.target
